<div class="card-deck">
    <div class="card">
      <img src="https://cdn.pixabay.com/photo/2016/08/17/10/04/fruit-bowl-1600023_960_720.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Fruit</h5>
        <p class="card-text">Wide varities of fresh fruit are avaliable.</p>
        </div>
      </div>
  
      <div class="card">
      <img src="https://cdn.pixabay.com/photo/2016/08/11/08/04/vegetables-1584999_960_720.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Vegetables</h5>
        <p class="card-text">Wide varities of fresh vegetables are avaliable.</p>
        </div>
      </div>
  
      <div class="card">
      <img src="https://cdn.pixabay.com/photo/2015/09/21/14/23/supermarket-949912_960_720.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Grossories</h5>
        <p class="card-text">Wide varities of Grossories are avaliable.</p>
        </div>
      </div>
    
  
   
  </div>